<main class="maze">
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>
    <b class="closed-square"></b>

</main>
